@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #556bce;
    border-bottom: 3px solid #556bce;
}

main {
    flex: 1;
    padding: 6rem 9% 3rem;
}

.contact-info {
    padding: 2rem;
    background: #333;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 1rem;
}

.contact-info p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.contact-info ul {
    list-style: none;
    margin-bottom: 2rem;
}

.contact-info ul li {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.contact-info a {
    color: #556bce;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: #fff;
}

.contact-info button {
    padding: 1rem 2.8rem;
    background-color: #556bce;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #000;
    border: 2px solid #556bce;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.contact-info button:hover {
    transform: scale(1.03);
    background-color: #000;
    color: #556bce;
    box-shadow: 0 0 25px #556bce;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #161616;
    font-size: 1.4rem;
    color: #556bce;
}
